#home-page{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#home-page-landing{
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/homepic.png");
  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    min-height: 800px;
}

#landing-left{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

#landing-left-content{
    text-align: right;
}

#landing-left-content h1{
    font-size: 7em;
    padding: 50px;
}

#landing-left-content p{
    font-size: 4em;
    padding: 50px;
}

#landing-left-content button{
    font-size: 3em;
    padding: 40px;
    margin: 50px;
}
