
<button id="refresh-btn" mat-button color="primary" (click)="refreshFeed()">Refresh Feed 
</button>

<div class="feed-container">
   
    <mat-card *ngFor="let post of posts" class="post-card">
        <mat-card-header>
            <div mat-card-avatar class="avatar"></div>
            <mat-card-title>{{ post.author.username }}</mat-card-title>
            <mat-card-subtitle>{{ post.timestamp | date: 'medium' }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            {{ post.content }}
        </mat-card-content>
        <mat-card-actions>
            <button mat-icon-button color="primary">
                <mat-icon>comment</mat-icon>
              </button>
              <button mat-icon-button color="primary">
                <mat-icon>share</mat-icon>
              </button>
              
        </mat-card-actions>
    </mat-card>
</div>
<app-postfeed></app-postfeed>
  