<div id="nav-bar">
    <div id="nav-bar-content">
        <div id="nav-bar-left">
            <div class="nav-bar-items">Connectify</div>
        </div>

        <div id="nav-bar-right">
            <ng-container *ngIf="isAuthenticated(); else loginSection">
                <div class="nav-bar-items" [matMenuTriggerFor]="userMenu">Welcome, {{ username }}</div>
                <mat-menu #userMenu="matMenu">
                    <button mat-menu-item (click)="openProfile()">Profile</button>
                    <button mat-menu-item (click)="showFeed()">Feed</button>
                    <button mat-menu-item>Settings</button>
                    <button mat-menu-item (click)="logout()">Logout</button>
                </mat-menu>
                <div class="nav-bar-items">
                  <app-notifications></app-notifications>
                </div>
            </ng-container>
            <ng-template #loginSection>
                <div class="nav-bar-items" (click)="onLoginClick()">Login</div>
            </ng-template>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
